*{
    padding: 0;
    margin: 0;
}
:root{
    font-size: 16px;
}
main{
    display: flex;
    width: 500vw;
    height: 100vh;

}
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* 禁止滚动条 */
}
.round{

    width: 200vh;
    height: 200vh;
    background-color: rgb(71, 134, 234);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transform: translate(-100vh, -100vh);
}
.loginPage{
    z-index: 2;
   float: left;
    width: 100vw;
    height: 100vw;
    position: absolute; /* 绝对定位 */
    display: flex;

}

.switchRegisterPage{
    width: 50vw;
    color: white;
    height: 50vh;



}
.switchRegisterPageContent{
    padding-left: 30vh;
    height: 50vh;



}
.switchRegisterPageButton{
    display: flex;
    flex-direction: column;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    position: absolute;
    transform: translateY(12vh);
}
.switchRegisterPageButton h2,
.switchRegisterPageButton p,
.switchRegisterPageButton button {
    margin-top: 10px;
    margin-bottom: 10px;
}


.switchRegisterPageButton button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}




.switchRegisterPage img{
    height: 50vh;
}

.myFrom{
    width: 50vw;


}
form{
    width: 500px;
    display: grid;
    box-shadow:
            2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
            6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
            12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
            22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
            41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
            100px 100px 80px rgba(0, 0, 0, 0.07)
;
    margin: 20% auto;
}

form h2{
    font-size: 2.2rem;contain: content;
    margin: 0 auto;
}
form input{
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #eeeeee;
    width: 80%;
}
form svg{
    width: 44px;
}
.getSMSInput{
    width: 60%;
    border-radius: 25px 0 0  25px;

}
.getSMSButton{
   color: white;
    border-radius: 0 25px 25px 0;
    border: 2px solid white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(73, 131, 233);

}
.loginButton{


    padding: 10px 20px;
    color: white;
    background-color:rgb(73, 131, 233);
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 15%;
    margin: 0 auto 20px;

}

/*注册页面*/
.registerPage{
    z-index: 2;
    display: flex;
    /*color: white;*/
}
.switchLoginPageContent{
    width: 50vw;
}
.switchLoginPageContent button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.switchLoginPageContent div,
.switchLoginPageContent img{
    height: 50vh;
}

.switchLoginPageContent h2,
.switchLoginPageContent p,
.switchLoginPageContent button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.switchLoginPageButton{
    display: flex;
    flex-direction: column;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    position: absolute;
    transform: translateX(22vh);
    }
